body{
    background-color: lightgray;
    background-image: white;
}

p{
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}

.card{
    background-color: white;
    margin: 311px;
    padding: 25px;
    border-radius: 15px;
    
}


.qq-image{
    border-radius: 15px;
    padding: auto;

}

h1, p{
    text-align: center;
}

h1{
    font-family: 'Outfit', sans-serif;
}